.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.component-boundary {
  padding-top: 1em;
  padding-bottom: 1em;
}

input {
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 1em;
  margin-right: 4em;
}

ul {
    list-style-type: none;
}

#options-div {
  background-color: rgba(21, 21, 25, .33);
}

#table {
  background-color: rgba(21, 21, 25, .11);
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
